<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>
<main style="padding: 20px; font-family: sans-serif;">
  <h1>FutStatus Players</h1>

  @if (players.length === 0) {
    <p>Loading players from backend...</p>
  } @else {
    <table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
      <thead style="background-color: #f2f2f2;">
      <tr>
        <th style="padding: 8px;">Name</th>
        <th style="padding: 8px;">Nationality</th>
        <th style="padding: 8px;">Position</th>
        <th style="padding: 8px;">Foot</th>
      </tr>
      </thead>
      <tbody>
        @for (player of players; track player.id) {
          <tr>
            <td style="padding: 8px;">{{ player.name }}</td>
            <td style="padding: 8px;">{{ player.nationality }}</td>
            <td style="padding: 8px;">{{ player.positions }}</td>
            <td style="padding: 8px;">{{ player.foot }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</main>
</body>
</html>
